---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++11 # 仅表示解析模式，本项目为 C11
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
AlignConsecutiveMacros: Consecutive
